:root{
  --forground-color: #a9adb3;
  --forground-sub-color: #dce0e8;
  --background-color: #151515;
}

body{
  margin: 0;
  padding: 0;
  height: 100svh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--forground-color);
}

a{
  color: var(--forground-color);
  text-decoration: none;
}

.grid{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vw;
}

.section.meta{
  padding-left: 0;
}

.main{
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.name{
  margin-left: 20px;
}

.name > h2{
  margin-top: 10px;
  font-size: 4.8vh;
  margin-bottom: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.name > span{
  position: relative;
  margin-top: 0;
  margin-left: 40px;
  top: -19px;
  opacity: 30%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: bold;
  font-size: 1.17em;
}

img.icon{
  width: 20vw;
  max-width: 200px;
  height: 20vw;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

.sub{
  width: 50vw;
  min-height: 80svh;
}

.sub > h2{
  font-size: 1.9rem;
}

.sub > p{
  font-size: 1.1rem;
}

.about{
  padding-left: 5px;
}

.likes, .skills, .stacks{
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.links{
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.links > a{
  font-size: 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  fill: currentColor;
}

.link > a > svg{
  width: 1.7rem;
  height: 1.7rem;
}

.links > a:hover,
.worklinks > a:hover,
#bottomBtn:hover,
#topBtn:hover{
  color: var(--forground-sub-color);
  fill: currentColor;
  cursor: pointer;
}

.bottom{
  margin-top: 30px;
}

.top{
  margin-top: 0;
}

.bottom, .top{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#bottomBtn, #topBtn{
  background: transparent;
  width: 3rem;
  height: 3rem;
  border: 0;
  cursor: pointer;
  fill: var(--forground-color);
}

#works > h2{
  margin-top: 0;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work{
  width: 100%;
}

.work > h4{
  margin-top: 0px;
  font-size: 2.8vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.worklinks{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 7px;
}

.worklinks > a{
  font-size: 1.2rem;
  height: 1.2rem;
  width: 1.2rem;
  fill: currentColor;
}

@media(max-width:650px){
  .grid{
    grid-template-columns: 1fr;
  }
  .section{
    padding: 5px !important;
    justify-content: flex-start;
  }
  .main{
    margin-top: 20px;
    margin-bottom: 0px;
    flex-direction: row;
    width: 90%;
    gap: 25px;
  }
  .name{
    margin-top: 30px;
    margin-left: 0px;
  }
  .sub{
    width: 90%;
    min-height: initial;
  }
  img.icon{
    width: 18vh;
    height: 18vh;
  }
  #bottomBtn, #topBtn{
    display: none;
  }
  #meta, #works{
    display: block !important;
  }
  #works > h2{
    margin-top: 18px;
  }
}

@media(max-width:445px){
  .sub > h2{
    font-size: 1.5em;
  }
}
